.DS_Store

# reference_projects以下はREADMD.md以外無視
reference_projects/**
!reference_projects/README.md

# e2studioのDebugディレクトリ
e2studio_CPU0/Debug/
e2studio_CPU1/Debug/

# JLinkログファイル
e2studio_CPU0/JLinkLog.log
e2studio_CPU1/JLinkLog.log

# e2studioデバッグ設定ファイル
e2studio_CPU1/mimamori_sense_CPU1 Debug_Attach.jlink
e2studio_CPU1/mimamori_sense_CPU1 Debug_Attach.launch
e2studio_CPU1/mimamori_sense_CPU1 Debug_Multicore.launch

# e2studioデバッガが自動生成する設定ファイル
e2studio_CPU0/.settings/CoverageSetting.xml
e2studio_CPU0/.settings/DebugVirtualConsoleSetting.xml
e2studio_CPU0/.settings/IORegisterSetting.xml
e2studio_CPU0/.settings/com.renesas.cdt.ddsc.settingseditor.prefs
e2studio_CPU0/.settings/com.renesas.cdt.ddsc.threads.configurator.prefs
e2studio_CPU1/.settings/CoverageSetting.xml
e2studio_CPU1/.settings/DebugVirtualConsoleSetting.xml
e2studio_CPU1/.settings/IORegisterSetting.xml

# 不要な生成ファイル
e2studio_CPU0/ra_cfg.txt
nul

# Claude Code local settings
.claude/settings.local.json
